*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f2;
	font-weight: 400;
}

a:link,
a:visited {
	text-decoration: none;
}

.container {
	display: flex;
	margin: 4rem 2rem;
	overflow: hidden;
	border-radius: 1rem;
}

.card {
	position: relative;
	padding: 4rem;
	width: 32rem;
	height: 44rem;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 1.5rem;
	color: #ffffffbf;
}

.card--1 {
	background-color: #e38826;
}

.card--2 {
	background-color: #006970;
}

.card--3 {
	background-color: #004241;
}

.card__title {
	color: #f2f2f2;
	margin-top: 3.5rem;
	font-family: 'Big Shoulders Display', sans-serif;
	font-weight: 700;
	font-size: 3.5rem;
	text-transform: uppercase;
}

.card__sub-title {
	line-height: 1.7;
	margin-top: 3.5rem;
}

.btn:link,
.btn:visited {
	position: absolute;
	bottom: 4rem;
	left: 4rem;
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
	padding: 1.2rem 2.8rem;
	border-radius: 100px;
	transition: all 0.3s;
	text-transform: capitalize;
}

.btn--1 {
	color: #e38826;
}

.btn--2 {
	color: #006970;
}

.btn--3 {
	color: #004241;
}

.btn:link:hover,
.btn:visited:hover {
	background-color: transparent;
	color: #f2f2f2;
}

@media (max-width: 1200px) {
	.container {
		flex-direction: column;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 50%;
	}
}
